@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@500&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #52C9DD;
    /* dark theme colors */
    --dark-background: #30323E;
    --dark-calc-background: #181A27;
    --dark-button-background: #202336;
    --dark-button-text: #fff;
    --dark-history-text: #5B5D68;
    /* light theme colors */
    --light-background: #BEEBF1;
    --light-calc-background: #fff;
    --light-button-background: #EFF8FF;
    --light-button-text: #30323E;
    --light-history-text: #CACCD6;

    font-size: 10px;
}

body, main, button, div {
    font-family: 'Prompt', sans-serif;
}

body {
    width: 100vw;
    min-height: 100vh;
    background-color: var(--light-background);
}

body, main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    background-color: var(--light-calc-background);
}