@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #52C9DD;
    /* dark theme colors */
    --dark-background: #30323E;
    --dark-calc-background: #181A27;
    --dark-button-background: #202336;
    --dark-button-text: #fff;
    --dark-history-text: #5B5D68;
    /* light theme colors */
    --light-background: #BEEBF1;
    --light-calc-background: #fff;
    --light-button-background: #eaf6ff;
    --light-button-text: #30323E;
    --light-history-text: #a7cde9;

    font-size: 10px;
}

body, main, button, div {
    font-family: 'Prompt', sans-serif;
}

body {
    width: 100vw;
    min-height: 100vh;
    background-color: var(--light-background);
    justify-content: center;
}

body, main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    width: 100%;
    max-width: 350px;
    height: 550px;
    border-radius: 10px;
    padding: 16px;
    background-color: var(--light-calc-background);
    position: relative;
}

.display {
    width: 100%;
    text-align: right;
}

.history-display {
    font-size: 1.5rem;
}

.history-display span {
    color: var(--main-color);
    font-weight: bold;
}

.value-display, .history-display {
    color: var(--light-button-text);
}

.history-display.initial-state {
    visibility: hidden;
}

.value-display {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 75px;
    font-size: 4.7rem;
    font-weight: bold;
}

.value-display span {
    color: var(--main-color)
}

.keyboard {
    width: 100%;
    height: 100%;
    padding-top: 15px;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(4, 1fr);
}

.keyboard button {
    font-size: 2.4rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.keyboard button:hover {
    transform: scale(.93);
}

.operation {
    background-color: var(--main-color);
    color: white;
}

[data-js="clear"] {
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

[data-js="clear-all"] {
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}

[data-js="negative"] {
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
}
 
[data-js="equals"]{
    grid-column-start: 4;
    grid-row-start:5;
    grid-row-end: 6;
}

[data-js="dot"] {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 5;
}

.number {
    background-color: var(--light-button-background);
    color: var(--light-button-text);
}

button {
    user-select: none;
}

[data-value="0"] {
    grid-column-start: 1;
    grid-column-end: 3;
}

.theme-toggle-container {
    width: 65px;
    height: 25px;
    background-color: var(--light-calc-background);
    border-radius: 12.5px;
    padding: 2.5px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.toggle-button {
    background-color: var(--light-background);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toggle-button img {
    height: 70%;
}

main, button, .theme-toggle-container, .toggle-button, error {
    transition: ease .5s;
}

body.dark {
    background-color: var(--dark-background);
}

main.dark {
    background-color: var(--dark-calc-background);
}

.number.dark {
    background-color: var(--dark-button-background);
    color: var(--dark-button-text);
}

.value-display.dark, .history-display.dark {
    color: var(--dark-button-text);
}

.theme-toggle-container.dark {
    background-color: var(--dark-calc-background);
}

.toggle-button.dark {
    background-color: var(--dark-background);
    transform: translateX(calc(210% - 2.5px));
}

.keyPressTransform {
    transform: scale(.93);
}

.error {
    color: red;
    font-weight: bold;
    font-size: 2rem;
    z-index: 100;
    position: absolute;
    top: 67px;
    display: none;
}

.show-error {
    display: block;
}